@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
}

.to-top {
  background: #1f9ee7;
  position: fixed;
  bottom: 16px;
  right:32px;
  width:50px;
  height:50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size:42px;
  font-weight: 900;
  color: hsla(210, 50%, 85%, 1);
  text-decoration: none;
  opacity:0;
  pointer-events: none;
  transition: all .4s;
}

.to-top.active {
  bottom:32px;
  pointer-events: auto;
  opacity:0.6;
}
.to-top:hover {
  opacity: 0.9;
}

.forehead {
    position: absolute;
    display: flex;
}
.logo {
    width: 200px;
    height: 100px;
    margin-top: 20px;
    cursor: pointer;
}
.functions {
    list-style-type: none;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    align-content: center;
    flex-direction: row;
    text-align: center;
    gap: 26px;
}
.abcd {
    font-size: 18px;
    font-weight: 700;
    font-family: Comfortaa, sans-serif;
    text-decoration: none;
    color: black;
    transition: 0.4s;
}
.abcd:hover {
    color: #1f9ee7;
}
.abc {
    font-size: 22px;
    font-weight: 800;
    font-family: Comfortaa, sans-serif;
    text-decoration: none;
    color: black
}
.function1 {
    width: 210px;
    transition: 0.4s;  
}
.function1:hover {
    transform: scale(1.1);
    color: #1f9ee7;
}
    
.function2 {
    width: 205px;
    transition: 0.4s;
}
.function2:hover {
    transform: scale(1.1);
    color: #1f9ee7;
}
.function3 {
    width: 205px;
    transition: 0.4s;
}
.function3:hover {
    transform: scale(1.1);
    color: #1f9ee7;
}
.function4 {
    width: 205px;
    transition: 0.4s;
}
.function4:hover {
    transform: scale(1.1);
    color: #1f9ee7;
}
.function5 {
  width: 205px;
  transition: 0.4s;
}
.function5:hover {
  transform: scale(1.1);
  color: #1f9ee7;
}
.forehead-switcher {
    background: #fff;
    border: 1px solid #e2e8f0;
    border-radius: 48px;
    color: black        ;
    font-size: 16px;
    line-height: 1;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 3px;
}
.forehead-row {
    display: flex;
    align-items: center;
    gap: 30px;
}
.forehead-switcher-active {
    font-family: Comfortaa, sans-serif;
    font-weight: 700;
    background: #1f9ee7;
    border-radius: 34px;
    color: #fff;
    padding: 8px 12px;
    display: inline-flex;
    cursor: default;
}
.forehead-switcher-link {
    color: black;
    padding: 8px 12px;
    border-radius: 34px;
    text-decoration: none;
    font-family: Comfortaa, sans-serif;
    font-weight: 700;
}
.forehead-switcher-link:hover {
    background-color: #f8f8f8;
    color: #1f9ee7;
}
.home-main {
    display: flex;
}

.home-main-img {
    margin-top: -1.5%;
    margin-left: -1.5%;
    position: inherit;
    width: 1000px;
    height: 983px;
}
.home-main-info {
    margin-top: 290px;
    padding-left: 115px;
    font-family: Comfortaa, sans-serif;
    font-size: 50px;
    text-align: center;
    font-weight: 30px;
}
.home-main-slogan {
    padding-left: 15%;
    font-family: Comfortaa, sans-serif;
    text-align: center;
    font-size: 22px;
}

:root {
  --text-color: hsla(210, 50%, 85%, 1);
  --shadow-color: hsla(210, 40%, 52%, .4);
  --btn-color: #1f9ee7;
  --bg-color: hsl(210, 80%, 42%);
}

* {
  box-sizing: border-box;
}
.offer-button {
  position:relative;
  padding: 10px 20px;  
  border: none;
  background: none;
  cursor: pointer;
  margin-left: 300px;
  margin-top: 50px;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 43px;  
  color: var(--text-color);
  
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 20px; 
  z-index: 0;  
  overflow: hidden;
  transition: 0.4s;   
}

.offer-button:hover {
  background-color: hsl(210, 80%, 42%);
}

.offer-button:active {
  outline-color: transparent;
  box-shadow: var(--btn-color) 2px 2px 22px;
}

/* bubbles */
.offer-button::before {
  content: '';
  pointer-events: none;
  opacity: .6;
  background:
    radial-gradient(circle at 20% 35%,  transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 75% 44%, transparent 0,  transparent 2px, var(--text-color) 3px, var(--text-color) 4px, transparent 4px),
    radial-gradient(circle at 46% 52%, transparent 0, transparent 4px, var(--text-color) 5px, var(--text-color) 6px, transparent 6px);

  width: 100%;
  height: 300%;
  top: 0;
  left: 0;
  position: absolute;
  animation: bubbles 5s linear infinite both;
}

@keyframes bubbles {
  from {
    transform: translate();
  }
  to {
    transform: translate(0, -66.666%);
  }
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border-radius: 15px;
  z-index: 10;
  background-color: white;
  width: 530px;
  height: 600px;
  max-width: 80%;
}
.modal.active {
  transform: translate(-50%, -50%) scale(1);
}
.modal-header {
  padding: 15px 480px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Comfortaa, sans-serif;
}
.title {
  font-family: Comfortaa, sans-serif;
  font-size: 1.95rem;
  font-weight: bold;
  padding: 0 52px 40px;
}
.modal-header .close-button {
  color: black;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  animation: none;
  font-size: 1.95rem;
}
.inputs {
  padding-left: 20px;
}
:focus{outline: none;}
.col-3 { 
  float: left; 
  width: 80%; 
  margin: 40px; 
  position: relative;
}
input[type="text"] {
  font: 16px/24px Comfortaa, sans-serif;; 
  color: #000; 
  width: 100%; 
  box-sizing: border-box; 
  letter-spacing: 1px;
}
.input-form {
  border: 0; 
  padding: 4px 0; 
  border-bottom: 1px solid rgb(212, 212, 212); 
  background-color: transparent;
}
.input-form ~ .focus-border { 
  position: absolute; 
  bottom: 0; 
  left: 50%; 
  width: 0; 
  height: 2px; 
  background-color: #3399FF; 
  transition: 0.4s;
}
.input-form:focus ~ .focus-border, .has-content.input-form ~ .focus-border { 
  width: 100%; 
  transition: 0.4s; 
  left: 0;}
.input-form ~ label { 
  font-family: Comfortaa, sans-serif;
  font-size: 18px;
  position: absolute; 
  left: 0; 
  width: 100%; 
  top: 9px; 
  color: #646464; 
  transition: 0.3s; 
  z-index: -1; 
  letter-spacing: 0.5px;
}
.input-form:focus ~ label, .has-content.input-form ~ label { 
  font-family: Comfortaa, sans-serif;;
  top: -16px; 
  font-size: 13px; 
  color: #3399FF; 
  transition: 0.3s;
}
.modal .offer-button {
  margin: 3% 27%;
  border: none;
  background: none;
  cursor: pointer;
  
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 30px;  
  color: var(--text-color);
  
  background-color: var(--btn-color);
  box-shadow: var(--shadow-color) 2px 2px 22px;
  border-radius: 20px; 
  z-index: 0;  
  overflow: hidden;
  transition: 0.4s;   
}
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  pointer-events: none;
}
#overlay.active {
  opacity: 1;
  pointer-events: all;
}
.about-us {
  display: flex;
  margin-top: 7%;
}
.about-us-img {
  position: inherit;
  width: 800px;
}
.about-us-text {
  font-family: Comfortaa, sans-serif;
  font-weight: 900;
  font-size: 30px;
  padding-right: 10px;
  padding-left: 20px;
  padding-top: 50px;
}
.about-us-list {
    list-style-type: none;
    font-family: Comfortaa, sans-serif;
    padding-right: 190px;
    padding-left: 50px;
    padding-top: 50px;
}
.about-us-list li {
  margin-bottom: 30px;
  font-size: large;
}
.forehead-order {
  display: flex;
}
.order-main {
  margin-top: 50px;
}
.order-main-text {
  padding-left: 600px;
  font-family: Comfortaa, sans-serif;
  font-size: 35px;
}
.order-main-text .contact-us {
  font-size: 30px;
  margin-left: 140px;
}